@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: WildBreathZelda;
  src: url("/assets/fonts/The Wild Breath of Zelda.otf") format("opentype");
}

:root {
  --clr-primary: 148, 13, 254;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline-width: 2px;
  outline-color: transparent;
  transition: outline .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--clr-primary));
  outline: 1px rgb(var(--clr-primary)) solid;
}
::-webkit-scrollbar-track {
  background: #17161a;
  border: 0px solid #ccc;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
:focus-visible {
  outline-offset: 5px;
  outline: 2px solid rgb(var(--clr-primary));
}

.btn {
  @apply font-medium py-2 px-4 rounded;
}
.btn-primary {
  @apply cursor-pointer relative font-bold uppercase border-2 border-solid border-transparent bg-enveus-primary py-5 px-7 hover:bg-transparent hover:border-enveus-primary after:absolute after:inset-0 after:border after:border-white after:border-opacity-50 after:scale-y-125 after:scale-x-110 after:rounded transition-colors;
}
.rounded-btn-outline-white {
  @apply cursor-pointer py-3 px-8 border border-solid border-white rounded-full hover:bg-enveus-primary hover:border-enveus-primary transition-all block;
}
.btn-outline-white {
  @apply cursor-pointer py-3 px-8 border-2 border-solid border-white hover:bg-enveus-primary hover:border-enveus-primary transition-all block;
}
.btn-outline-primary {
  @apply cursor-pointer py-3 px-8 font-bold border-2 border-solid border-enveus-primary hover:bg-enveus-primary hover:border-enveus-primary transition-all block;
}
.auth-btn-outline-primary {
  @apply cursor-pointer py-2 px-8 rounded-xl font-medium border-2 border-solid border-enveus-primary hover:bg-enveus-primary hover:border-enveus-primary transition-all block;
}
.auth-btn-outline-white {
  @apply cursor-pointer py-2 px-8 rounded-xl font-medium border-2 border-solid border-white border-opacity-50 text-opacity-50 hover:text-opacity-100 text-white hover:bg-enveus-primary hover:border-enveus-primary transition-all block;
}
.auth-btn-outline-red {
  @apply cursor-pointer py-2 px-8 rounded-xl font-medium border-2 border-solid border-red-700 hover:bg-red-700 hover:border-red-700 transition-all block text-red-700 hover:text-white;
}

.animateLoader {
  animation : dash 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@keyframes dash {to { stroke-dashoffset: 670; }}
@keyframes bounce {to { transform: scale(1.1); }}

